.gem {
    max-width: 100px;
    max-height: 100px;
    /* float: left; */
}

.link {
    max-width: 200px;
    /* margin-left: auto; */
}

body {
    background-image: url(../images/linkbackground.jpg);
    font-family: link;
}

h1{
    font-size: 75px;
    position: absolute;
    left: 375px;
    top: 50px;
}

#game-stats{
    max-width: 300px;
    font-size: 23px;
    position: absolute;
    left: 483px;
    top: 285px;

}

#gems-link{
    max-width: 300px;
}

@font-face{
    font-family: link;
    src: url(../Script/HyliaSerifBeta-Regular.otf);
}

#journal{
    position: absolute;
    max-width: 275.25px;
    top: 195px;
    z-index: -10;
    left: 450px;
}

.gemContainer {
    position: absolute;
    top: 200px;
    left:740px; 
}
.gem-background{
    max-width: 400px;
    position: absolute;
    top: -30px;
    left: 200px;  
    z-index: -10;
}

#instructions{
    position: absolute;
    left: 70px;
    top: 195px;
    max-width: 300px;
    font-size: 22px;
    background-color: #D3D3D3; opacity: .5;
    padding: 5px;
}

.zelda{
    position: absolute;
    top: 160px;
    left: 245px;
    height: 200px;
}

.thing {
    height: 110px;
    position: absolute;
    left: -130px;
    top: 20px;
}

.beast{
    height: 300px;
    position: absolute;
    left: 450px;
    opacity: .9;
}



